<p>
  <mat-card class="card-style">
    <mat-card-header>
      <mat-card-title>Authetication</mat-card-title>
      <mat-card-subtitle>Please, enter your email and password</mat-card-subtitle>
    </mat-card-header>
    <div align="center">
      <img mat-cardimage src="https://angular.io/assets/images/logos/angular/angular1.svg" class="imagecardstyle">
    </div>
    <mat-card-content>
      <div align="center">
        <form (keypress)="checkKey($event)">
        <mat-form-field>
          <input matInput placeholder="username(email)" [(ngModel)]="username" name="username" >
        </mat-form-field><br/>
        <mat-form-field>
          <input matInput placeholder="password" type="password" [(ngModel)]="password" name="password">
        </mat-form-field>
      </form>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div align="center">
        <button mat-button (click)="checkUserNamePassword()"><mat-icon>check</mat-icon>Done</button>
      </div>
    </mat-card-actions>
  </mat-card>
</p>
